/* This file is for your main application css. */

#generate-btn {
    background-color: purple;
    color: white;
    touch-action: manipulation;
}

#generate-btn:hover {
    background-color: #721785;
}

#description {
    background-color: papayawhip;
}